#onboard{
    background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    background-size: cover;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
}
.white{
    font-family: Helvetica;
    font-size: 34px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
.blue{
    font-family: Helvetica;
    font-weight: bold;
    color:blue;
}
.coral{
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.sky{
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

